/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.tabs {
  max-width: ;
  min-height: ;
  border: ;
  border-radius:;
  color: black;
}

div[role="tablist"] {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.p{
  font-size: 15px;
}

button[role="tab"] {
  color: #4C320A;
  background: #8DAB7F;
  border: none;
  border-radius: 0.25rem;
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  font-weight: 600;
}

button[role="tab"][aria-selected="true"] {
  background-color: #ffff;
  color: #07409f;
}

button[role="tab"][aria-selected="false"]:hover {
  color: #000000;
}

div[role="tabpanel"] {
  padding: 1rem;
}
*{
  background-color: #DADD98;
  border-style: solid;
  border-width: 2.5px  ;  
}
 
.Dinosaurs{
  text-align: center;
  font-size: 30px;
  width: ;
  border: 5px solid #6DA34D;
  padding: 2.5px;
  margin: 2.5px;
  text-decoration-line: underline;
  text-decoration-color:#6DA34D;
}
 
.Dinosaur{
  text-align: center;
  width: ;
  border: 2.5px solid #6DA34D;
  padding: 2.5px;
  margin: 5px;
}


 
.Triceratops{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;
}
 
.T-rex{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;
}
 
 .Spinosaurus{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;
}
 
.Stegosaurus{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;  
}
 
.Velociraptor{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;    
}
 
.Alamosaurus{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;   
}
 
.Brachiosaurus{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;    
}

 .titanosaurus{
  width: ;
  border: 5px solid #4C320A;
  padding: 5px;
  margin: 5px;    
}
 
button{
  background-color: #4C320A;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
 

.font{
  font-size: 20px;
}

.option{
  font-size: 20px;
  text-align: center;
  width: ;
  border: 5px solid #6DA34D;
  padding: 2.5px;
  margin: 2.5px;
  text-decoration-color:#6DA34D;}

#question{
  font-size: 20px;
  text-align: center;
  width: ;
  border: 5px solid #6DA34D;
  padding: 2.5px;
  margin: 2.5px;
  text-decoration-color:#6DA34D;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
